{% extends 'layout.html' %}
  
{% block title %}Perfil{% endblock %}
  
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/profile.css">
    <title>Document</title>
    
</head>
<body>
    <div class="profile-container">
        <div class="profile-header">
            <div class="profile-image-container">
                <img src="./img/eulaSimilingProfilePic.png" alt="Profile Picture" class="profile-picture">
                <button class="change-image-button">Cambiar Imagen</button>
            </div>
            <div class="profile-info">
                <h2>{{ account['username'] }}</h2>
                <p>{{ account['email'] }}</p>
                <a href="#" class="profile-link">Cambiar contraseña</a>
                <a href="#" class="profile-link">Cambiar correo</a>
                <a href="{{ url_for('logout') }}" class="profile-link">Cerrar sesión</a>
            </div>
        </div>
        <div class="motivational-message">
            <p>Java es poderoso y versátil, y tú también lo eres. Mantén la motivación alta, diviértete explorando, y sobre todo... ¡sigue adelante! 🚀</p>
        </div>
        <div class="support-contact">
            <h3>Contacto con Soporte</h3>
            <p><span class="material-icons">phone</span> +57 316 3197861</p>
            <p><span class="material-icons">mail</span> daniel.gomez.cano@correounivalle.edu.co</p>
        </div>
    </div>
</body>
</html>
{% endblock %}