body {
    font-family: 'Poppins', sans-serif; /*Ignorar*/
    background-color: black;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.profile-container {
    width: 100%;
    max-width: 60vw;
    margin: 0 auto;
    border-radius: 10px;
}

.profile-header {
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #101010;
    border-radius: 10px;
}

.profile-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    margin: 0 20px;
    background-color: #101010;
    border-radius: 10px;
}

.profile-picture {
    width: 20vw;          /* 20% del ancho del viewport importante anotación*/
    min-width: 120px;     
    max-width: 200px;     
    height: auto;
    border-radius: 50%;
}

.change-image-button {
    background: linear-gradient(to right, #8c52ff, #14e4eb);
    color: #ffffff;
    border: none;
    padding: 8px 45px;
    margin-top: 15px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.profile-info {
    margin-left: 10px;
    flex-grow: 1;
}

.profile-info h2 {
    font-weight: 600;
}

.profile-info p {
    margin-bottom: 40px;
    font-weight: 400;
}

.profile-link {
    display: block;
    color: #8a2be2;
    text-decoration: none;
}

.motivational-message {
    margin: 20px 0;
    padding: 20px;
    background-color: #101010;
    border-radius: 10px;
    text-align: center;
}

.support-contact {
    padding: 20px;
    background-color: #101010;
    border-radius: 10px;
}

.support-contact h3 {
    margin: 0 0 20px 0;
    font-weight: 600;
}

.support-contact p {
    font-weight: 400;
}

.support-contact i {
    margin-right: 10px;
}

@media (max-width: 900px) {
    .profile-header {
        flex-direction: column;
        align-items: center;
    }

    .profile-info {
        margin-left: 0;
        margin-top: 20px;
        text-align: center;
    }

    
}

.mail{
    display: none;
}

@media (max-width: 700px) {
    .mail{
        display: flex;
    }
}