{% extends 'layout.html' %}
  
{% block title %}Condicionales{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/modulos.css">
    <title>Condicionales</title>
</head>
<body>
    <div class="module-content" >
        <section class="documentation">
            <div class="section-header">
                <h1>Condicionales</h1>
            </div>
            <div class="section-body">
                <p>
                    ¡Bienvenido nuevamente. En esta seccion aprenderas a tomar decisiones dentro de tus programas
                    usando estructuras llamadas condicionales! Estas son esenciales para que tu codigo reaccione de 
                    una forma especifica a diferentes situaciones, tu mismo decides como respondera el programa de 
                    acuerdo a un caso determinado. Sin embargo, antes de saber como hacer esto, es importante conocer
                    que es un booleano o bool.
                
                </p>
                <h2>¿Qué es un Booleano?</h2>
                <p>
                    Un booleano es un tipo de dato que solo puede tener dos valores posibles, 
                    estos valores son llamados valores de verdad, y estos son: true(verdadero) y false(falso). 
                    En la programacion, los booleanos son usados para tomar decisiones, ya que permiten evaluar 
                    condiciones y determinar el flujo de un programa. Por ejemplo, si tienes una variable llamada 
                    "esMayorDeEdad" que es de tipo booleano, puedes usarla para decidir si una persona puede entrar 
                    a un bar o no. Si "esMayorDeEdad" es true, entonces la persona puede entrar; si es false, 
                    no puede entrar. Es como un interruptor de luz que puede estar encendido o apagado. Los usamos 
                    para comprobar si algo es cierto o no.
                    <ul>
                        <li><strong>Ejemplo:</strong></li>
                        <li>¿El cielo es azul?: true</li>
                        <li>¿La tierra es plana?: false</li>
                        <li>¿El agua es liquida?: true</li>
                        <li>¿Los gatos son reptiles?: false</li>
                    </ul>  
                </p>

                <h2> ¿Qué son los condicionales y para qué sirven?</h2>
                <p>
                    Los condicionales son instrucciones que permiten que el programa tome decisiones. Sirven 
                    para ejecutar una parte del codigo solo si se cumple una condicion.
                     <ul>
                        <li><strong>Ejemplos cotidianos:</strong></li>
                        <li>Si el semaforo esta en verde, entonces cruzo la calle</li>
                        <li>Si hay dinero en mi cuenta, entonces puedo comprar cosas</li>
                        <li>Si termine mi tarea, entonces juego videojuegos; si no, sigo estudiando</li>
                    </ul>   
                </p>

                <h2>Sentencia if</h2>
                <p> La sentencia if es una estructura que ejecuta un bloque de codigo solo si la condicion dentro
                    del parentensis es verdadera (true). La sentencia if, sirve para ejecutar un bloque de codigo
                    solo si se cumple una condicion especifica, si no se cumple, el programa simplemente ignora 
                    ese bloque.
                </p>

                <div class="code-window">
                    <div class="window-header">
                        <span class="dot red"></span>
                        <span class="dot yellow"></span>
                        <span class="dot green"></span>
                    </div>
                    <pre><code class="java">
    <span class="special-word">if</span> <span class="parentesis">(</span>condición<span class="parentesis">)</span> <span class="parentesis">{</span>
        <span class="comment">// Código a ejecutar si la condición es verdadera</span>
    <span class="parentesis">}</span>
                    </code></pre>
                </div>
                
                <h2>Sentencia else</h2>
                <p> La sentencia else es una palabra clave que se usa para darle a enteneder a la maquina que en caso de que no se halla cumplido la sentencia if, entonces se ejecute lo que haya dentro de la sentencia else. En otras palabras se ejecuta si la ocndicion if es falsa</p>
                <p> Para definir que hacer cuando no se cumpla la condicion inicial</p>

                <div class="code-window">
                    <div class="window-header">
                        <span class="dot red"></span>
                        <span class="dot yellow"></span>
                        <span class="dot green"></span>
                    </div>
                    <pre><code class="java">
    <span class="special-word">if</span> <span class="parentesis">(</span>llueve<span class="parentesis">)</span> <span class="parentesis">{</span>
        System.out.println<span class="parentesis">(</span><span class="comment">"Llevo paraguas"</span><span class="parentesis">)</span>;
    <span class="parentesis">}</span> <span class="special-word">else</span> <span class="parentesis">{</span>
        System.out.println <span class="parentesis">(</span><span class="comment">"Salgo sin paraguas"</span><span class="parentesis">)</span>;
    <span class="parentesis">}</span>
                    </code></pre>
                </div>

                <h2>¿Cómo se hace una condicion if-else?</h2>
                <p> Se combinan if y else para tener un camino claro: si algo sucede, haces una cosa; si nom haces la otra.</p>

                <div class="code-window">
                    <div class="window-header">
                        <span class="dot red"></span>
                        <span class="dot yellow"></span>
                        <span class="dot green"></span>
                    </div>
                    <pre><code class="java">
    <span class="special-word">int</span> edad = 16;

    <span class="special-word">if</span> <span class="parentesis">(</span>edad >= 18<span class="parentesis">)</span> <span class="parentesis">{</span>
        System.out.println<span class="parentesis">(</span><span class="comment">"Puedes votar."</span><span class="parentesis">)</span>;
    <span class="parentesis">}</span> <span class="special-word">else</span> <span class="parentesis">{</span>
        System.out.println <span class="parentesis">(</span><span class="comment">"Aún no puedes votar." </span><span class="parentesis">)</span>;
    <span class="parentesis">}</span>
                    </code></pre>
                </div>

                <h2>Condicionales anidados</h2>
                <p> Un condicional anidado es un caso en el cual un if se encuentra dentro de otro if, esto permite evaluar varios condicionales paso a paso, como se muestra en la siguiente imagen.</p>

                <div class="code-window">
                    <div class="window-header">
                        <span class="dot red"></span>
                        <span class="dot yellow"></span>
                        <span class="dot green"></span>
                    </div>
                    <pre><code class="java">
    <span class="special-word">int</span> temperatura = 35;

    <span class="special-word">if</span> <span class="parentesis">(</span>temperatura > 30<span class="parentesis">)</span> <span class="parentesis">{</span>
        <span class="special-word">if</span> <span class="parentesis">(</span>temperatura > 40<span class="parentesis">)</span> <span class="parentesis">{</span>
            System.out.println<span class="parentesis">(</span><span class="comment">"Hace muchisimo calor"</span><span class="parentesis">)</span>;
        <span class="parentesis">}</span> <span class="special-word">else</span> <span class="parentesis">{</span>
            System.out.println <span class="parentesis">(</span><span class="comment">"Hace calor" </span><span class="parentesis">)</span>;
        <span class="parentesis">}</span>
    <span class="parentesis">}</span> <span class="special-word">else</span> <span class="parentesis">{</span>
        System.out.println <span class="parentesis">(</span><span class="comment">"La temperatura está bien" </span><span class="parentesis">)</span>;
    <span class="parentesis">}</span>
                    </code></pre>
                </div>

                <p> o tambien puedes usar else if para multiples condiciones</p>

                <div class="code-window">
                    <div class="window-header">
                        <span class="dot red"></span>
                        <span class="dot yellow"></span>
                        <span class="dot green"></span>
                    </div>
                    <pre><code class="java">
    <span class="special-word">int</span> nota = 85;

    <span class="special-word">if</span> <span class="parentesis">(</span>nota >= 90<span class="parentesis">)</span> <span class="parentesis">{</span>
        System.out.println<span class="parentesis">(</span><span class="comment">"Excelente!"</span><span class="parentesis">)</span>;
    <span class="parentesis">}</span> <span class="special-word">else if</span> <span class="parentesis">(</span>nota >= 70<span class="parentesis">)</span> <span class="parentesis">{</span>
        System.out.println<span class="parentesis">(</span><span class="comment">"Aprobado!"</span><span class="parentesis">)</span>;
    <span class="parentesis">}</span> <span class="special-word">else</span> <span class="parentesis">{</span>
        System.out.println<span class="parentesis">(</span><span class="comment">"Reprobado :("</span><span class="parentesis">)</span>;
    <span class="parentesis">}</span>
                    </code></pre>
                </div>

                <h2>Sentencia switch</h2>

                <p> La sentencia switch evalua una variable contra varios posibles valores y ejecuta el bloque correspondiente. Es útil cuando tienes muchas condiciones sobre una misma variable.</p>

                <div class="code-window">
                    <div class="window-header">
                        <span class="dot red"></span>
                        <span class="dot yellow"></span>
                        <span class="dot green"></span>
                    </div>
                    <pre><code class="java">
    <span class="special-word">switch</span> <span class="parentesis">(</span>variable<span class="parentesis">)</span> <span class="parentesis">{</span>
        <span class="special-word">case</span> valor1:
            <span class="comment">// código</span>
            <span class="special-word">break</span>;
        <span class="special-word">case</span> valor2:
            <span class="comment">// código</span>
            <span class="special-word">break</span>;
        <span class="special-word">default</span>:
            <span class="comment">// código si no hay coincidencia</span>
            <span class="special-word">break</span>;
    <span class="parentesis">}</span>
                    </code></pre>
                </div>

                <h2>Ejemplo</h2>

                <div class="code-window">
                    <div class="window-header">
                        <span class="dot red"></span>
                        <span class="dot yellow"></span>
                        <span class="dot green"></span>
                    </div>
                    <pre><code class="java">
    <span class="special-word">int</span> dia = 4;

    <span class="special-word">switch</span> <span class="parentesis">(</span>dia<span class="parentesis">)</span> <span class="parentesis">{</span>
        <span class="special-word">case</span> 1:
            System.out.println<span class="parentesis">(</span><span class="comment">"Lunes"</span><span class="parentesis">)</span>;
            <span class="special-word">break</span>;
        <span class="special-word">case</span> 2:
            System.out.println<span class="parentesis">(</span><span class="comment">"Martes"</span><span class="parentesis">)</span>;
            <span class="special-word">break</span>;
        <span class="special-word">case</span> 3:
            System.out.println<span class="parentesis">(</span><span class="comment">"Miércoles"</span><span class="parentesis">)</span>;
            <span class="special-word">break</span>;
        <span class="special-word">case</span> 4:
            System.out.println<span class="parentesis">(</span><span class="comment">"Jueves"</span><span class="parentesis">)</span>;
            <span class="special-word">break</span>;
        <span class="special-word">case</span> 5:
            System.out.println<span class="parentesis">(</span><span class="comment">"Viernes"</span><span class="parentesis">)</span>;
            <span class="special-word">break</span>;
        <span class="special-word">default</span>:
            System.out.println<span class="parentesis">(</span><span class="comment">"Otro día"</span><span class="parentesis">)</span>;
            <span class="special-word">break</span>;
    <span class="parentesis">}</span>
                    </code></pre>
                </div>

                <h2>Conclusiones</h2>

                <p>Los condicionales son el alma de las decisiones en un programa. Gracias a ellos puedes hacer que tu aplicacion se adapte a diferentes situaciones, igual que tu lo haces en la vida real. Ahora que conoces if, else, else if y switch, ¡tienes las herramientas basicas para controlar el flujo de tu codigo!</p>
            </div>
        </section>
                <section class="exercises">
            <div class="section-header" style="background: linear-gradient(to right, #00c6ff, #a200ff); padding: 1rem; color: white; margin-top: 30px;">
                <h2>Ejercicios: Condicionales</h2>
                <p>En esta sección encontrarás ejercicios prácticos para que domines los Condicionales en Java.</p>
            </div>
            <div class="section-body" style="padding: 1rem;">
                <h2>Nivel Fácil</h2>
                <!-- Ejercicio 1 -->
                <div class="exercise">
                    <h3>Ejercicio: 1</h3>
                    <p>Add commentMore actions
                        Escribir un programa que almacene la cadena de caracteres contraseña en una variable, pregunte al usuario por la contraseña e imprima por pantalla si la contraseña introducida por el usuario coincide con la guardada en la variable sin tener en cuenta mayúsculas y minúsculas.
                    </p>
                    <strong>Esto es lo que se espera:</strong>
                    <div class="code-window">
                        <div class="window-header">
                            <span class="dot red"></span>
                            <span class="dot yellow"></span>
                            <span class="dot green"></span>
                        </div>
                        <pre><code class="java">
    <span class="comment">#supondresmo que la contraseña es 1234</span>

    #______CASO TRUE______

    <span class="comment">INPUT</span>
    >ingrese la contraseña: 1234
    
    <span class="comment">OUTPUT</span>
    >La contraseña es correcta

    #______CASO FALSE______     

    <span class="comment">INPUT</span>
    >ingrese la contraseña: 2022
    
    <span class="comment">OUTPUT</span>
    >La contraseña es incorrecta</code></pre>
                    </div>
                    <a style="text-decoration: none; color: white;" href="https://pastebin.com/3khJXDGJ" target="_blank"> <button>Ver Solucion</button></a>
                </div>
                <!-- Ejercicio 2 -->
                <div class="exercise">
                    <h3>Ejercicio: 2</h3>
                    <p>Escribir un programa que pida al usuario un número entero y muestre por pantalla si es par o impar.</p>Add commentMore actions
                        <strong>Esto es lo que se espera:</strong>
                    <div class="code-window">
                        <div class="window-header">
                            <span class="dot red"></span>
                            <span class="dot yellow"></span>
                            <span class="dot green"></span>
                        </div>
                        <pre><code class="java">
    <span class="comment">INPUT</span>
    > Introduce un número entero: 7

    <span class="comment">OUTPUT</span>
    > El número 7 es impar

    <span class="comment">INPUT</span>
    > Introduce un número entero: 8

    <span class="comment">OUTPUT</span>
    > El número 8 es par</code></pre>
                    </div>
                    <a style="text-decoration: none; color: white;" href="https://pastebin.com/zzabHFYk" target="_blank"> <button>Ver Solucion</button></a>
                </div>

                <h2>Nivel Intermedio</h2>
                <!-- Ejercicio 3 -->
                <div class="exercise">
                    <h3>Ejercicio: 1</h3>
                    <p>Add commentMore actions
                    Para tributar un determinado impuesto se debe ser mayor de 16 años y tener unos ingresos iguales o superiores a 1000 € mensuales. Escribir un programa que pregunte al usuario su edad y sus ingresos mensuales y muestre por pantalla si el usuario tiene que tributar o no.  
                    </p>
                    <strong>Esto es lo que se espera:</strong>
                    <div class="code-window">
                        <div class="window-header">
                            <span class="dot red"></span>
                            <span class="dot yellow"></span>
                            <span class="dot green"></span>
                        </div>
                        <pre><code class="java">    
    <span class="comment">INPUT</span>
    > Introduce tu edad: 20
    > Introduce tus ingresos mensuales: 1500

    <span class="comment">OUTPUT</span>
    > Tienes que tributar.
    
    <span class="comment">INPUT</span>
    > Introduce tu edad: 15
    > Introduce tus ingresos mensuales: 800

    <span class="comment">OUTPUT</span>
    > No tienes que tributar.</code></pre>
                    </div>
                    <a style="text-decoration: none; color: white;" href="https://pastebin.com/xxM3iGZZ" target="_blank"> <button>Ver Solucion</button></a>
                </div>
                <!-- Ejercicio 4 -->
                <div class="exercise">
                    <h3>Ejercicio: 2</h3>
                    <p>Los alumnos de un curso se han dividido en dos grupos A y B de acuerdo al sexo y el nombre. El grupo A esta formado por las mujeres con un nombre anterior a la M y los hombres con un nombre posterior a la N y el grupo B por el resto. Escribir un programa que pregunte al usuario su nombre y sexo, y muestre por pantalla el grupo que le corresponde.Add commentMore actions
                    </p>
                        <strong>Esto es lo que se espera:</strong>
                    <div class="code-window">
                        <div class="window-header">
                            <span class="dot red"></span>
                            <span class="dot yellow"></span>
                            <span class="dot green"></span>
                        </div>
                        <pre><code class="java">
    <span class="comment">INPUT</span>
    > Ingrese su nombre: Ana
    > Ingrese su sexo (M/F): F

    <span class="comment">OUTPUT</span> 
    > Pertenece al grupo A

    <span class="comment">INPUT</span>
    > Ingrese su nombre: Carlos
    > Ingrese su sexo (M/F): M

    <span class="comment">OUTPUT</span>
    > Pertenece al grupo B</code></pre>
                    </div>
                    <a style="text-decoration: none; color: white;" href="https://pastebin.com/FDYbLaJL" target="_blank"> <button>Ver Solucion</button></a>
                </div>

                <h2>Nivel Avanzado</h2>
                <!-- Ejercicio 5 -->
                <div class="exercise">
                    <h3>Ejercicio: 1</h3>
                    <p>Add commentMore actions
                    Escribir un programa para una empresa que tiene salas de juegos para todas las edades y quiere calcular de forma automática el precio que debe cobrar a sus clientes por entrar. El programa debe preguntar al usuario la edad del cliente y mostrar el precio de la entrada. Si el cliente es menor de 4 años puede entrar gratis, si tiene entre 4 y 18 años debe pagar 5€ y si es mayor de 18 años, 10€.
                    </p>
                    <strong>Esto es lo que se espera:</strong>
                    <div class="code-window">
                        <div class="window-header">
                            <span class="dot red"></span>
                            <span class="dot yellow"></span>
                            <span class="dot green"></span>
                        </div>
                        <pre><code class="java">
    <span class="comment">INPUT</span>
    > Ingresa la edad del cliente: 20

    <span class="comment">OUTPUT</span>
    > El precio de la entrada es: 10€

    <span class="comment">INPUT</span>
    > Ingresa la edad del cliente: 15

    <span class="comment">OUTPUT</span>
    > El precio de la entrada es: 5€

    <span class="comment">INPUT</span>
    > Ingresa la edad del cliente: 3

    <span class="comment">OUTPUT</span>
    > El cliente entra gratis</code></pre>
                    </div>
                    <a style="text-decoration: none; color: white;" href="https://pastebin.com/8Kaq4ZDk" target="_blank"> <button>Ver Solucion</button></a>
                </div>
                <!-- Ejercicio 6 -->
                <div class="exercise">
                    <h3>Ejercicio: 2</h3>
                    <p>Add commentMore actions
                    La pizzería Pizza Paisa ofrece pizzas vegetarianas y no vegetarianas a sus clientes. Los ingredientes para cada tipo de pizza aparecen a continuación.<br>

                        - Ingredientes vegetarianos: Pimiento y tofu.<br>
                        - Ingredientes no vegetarianos: Peperoni, Jamón y Salmón.<br>
                        <br>

                    Escribir un programa que pregunte al usuario si quiere una pizza vegetariana o no, y en función de su respuesta le muestre un menú con los ingredientes disponibles para que elija. Solo se puede eligir un ingrediente además de la mozzarella y el tomate que están en todas la pizzas. Al final se debe mostrar por pantalla si la pizza elegida es vegetariana o no y todos los ingredientes que lleva.
                    </p>
                        <strong>Esto es lo que se espera:</strong>
                    <div class="code-window">
                        <div class="window-header">
                            <span class="dot red"></span>
                            <span class="dot yellow"></span>
                            <span class="dot green"></span>
                        </div>
                        <pre><code class="java">
    <span class="comment">INPUT</span>
    > ¿Quieres una pizza vegetariana? (si/no): si
    > Elige un ingrediente adicional (Pimiento/Tofu): Pimiento

    <span class="comment">OUTPUT</span>
    > Tu pizza es vegetariana y lleva: Mozzarella, Tomate, Pimiento

    <span class="comment">INPUT</span>
    > ¿Quieres una pizza vegetariana? (si/no): no
    > Elige un ingrediente adicional (Peperoni/Jamón/Salmón): Peperoni
    
    <span class="comment">OUTPUT</span>
    > Tu pizza no es vegetariana y lleva: Mozzarella, Tomate, Peperoni</code></pre>
                    </div>
                    <a style="text-decoration: none; color: white;" href="https://pastebin.com/8B9RDRjJ" target="_blank"> <button>Ver Solucion</button></a>
                </div>
            </div>
        </section>

        {% include 'comments.html' %}
    </div>
    <script src="simplifyCodeBlocks.js"></script>   
</body>
</html>
{% endblock %}